/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
@import "susy";

$tab: 50em 24; // At 44em use 24 columns.
$desk: 70em 24; // At 70em use 24 columns.

.l-top {
  padding-bottom: $em-base;
  padding-top: $em-base;
}

.l-header {
  margin-bottom: $vert-rhythm;
}

.l-main {
  margin-bottom: $vert-rhythm;
}

.l-branding-wrapper {
  background: $accent-color;
  padding: $em-base 0;
}

.footer-wrapper {
  width: 100%;
}

/* DISPLAY SUITE LAYOUTS 
*  Placed here as 'component' to keep distinct from Omega's layouts in _layout.scss
*/

/* One columns */

.ds-1col .field-name-title {
  margin-bottom: $vert-rhythm;
}

/* Two column */

.ds-2col-stacked .group-left,
.ds-2col .group-left {
  @include span-columns(4, 4); // Span 4 out of 4 columns.
}

.ds-2col-stacked .group-right,
.ds-2col .group-right {
  @include span-columns(4, 4); // Span 4 out of 4 columns.
  clear: both;
}

.ds-2col-stacked .group-header {
  margin-bottom: $vert-rhythm;
}

@include at-breakpoint($tab) {

	.ds-2col-stacked .group-left,
	.ds-2col .group-left {
	  @include span-columns(15, 24); // Span 15 out of 24 columns.
	  float: left;
	}
	
	.ds-2col-stacked .group-right,
	.ds-2col .group-right {
	  @include span-columns(8 omega, 24); // Span the last (omega) 8 columns of 24.
	  clear: none;
	}
	
	.l-logo a {
	  display: block;
	  float: left;
	}
	
	.l-logo a img {
	  height: 62px;
	  margin-top: 7px;
	}
	
	.l-sidebar .block {
	  margin-bottom: $vert-rhythm * 2;
	}

}

@include at-breakpoint($desk) {

	.l-logo a img {
	  height: 72px;
	  margin-top: 0;
	  width: auto;
	}
	
}

