.l-header ul.menu {
  margin: 0;
  padding-left: 0;
}

.l-header ul.menu li {
  display: inline-block;
}

.sf-menu li a:after,
.l-header ul.menu li a:after {
  color: $tertiary-color;
  content: "/";
  padding: $em-base * 2;
}

.sf-menu li:last-child a:after,
.l-header ul.menu li:last-child a:after {
  content: "";
}

.l-main ul.menu, ol.menu {
  padding-left: $em-base;
}

.l-main ul.menu li {
  border-bottom: 1px solid $secondary-color;
  margin-bottom: ($em-base / 2);
  padding-bottom: ($em-base / 2);
}

.l-main ul.menu li.last {
  border-bottom: none;
}
