/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000317}}
table th {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000318}}
table td, table th {
  padding: 9px 10px;
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000323}}
  table.responsive {
    margin-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000327}}
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000328}}
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000329}}
  .pinned table th, .pinned table td {
    white-space: nowrap;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000330}}
  .pinned td:last-child {
    border-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000332}}
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000333}}
  div.table-wrapper div.scrollable table {
    margin-left: 35%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000334}}
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000336}}
  table.responsive td, table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/John\/Dropbox\/MAMP\/dev\.test\/sites\/all\/themes\/basis\/sass\/responsive-tables\.scss}line{font-family:\0000337}}
  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
    display: none;
  }
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
/* -----------------------------------------
   Page Name 2
----------------------------------------- */
